@font-face {
	font-family: iconfontx;
	src: url("//at.alicdn.com/t/font_408472_g5k1yovkx3gtlnmi.eot");
	src: url("//at.alicdn.com/t/font_408472_g5k1yovkx3gtlnmi.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_408472_g5k1yovkx3gtlnmi.woff") format("woff"), url("//at.alicdn.com/t/font_408472_g5k1yovkx3gtlnmi.ttf") format("truetype"), url("//at.alicdn.com/t/font_408472_g5k1yovkx3gtlnmi.svg#iconfont") format("svg")
}

.iconfontx {
	font-family: iconfontx!important;
	font-size: 50px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}

* {
	margin: 0;
	padding: 0
}

li,
ul {
	list-style: none
}

a {
	text-decoration: none
}

img {
	border: none
}

body {
	font-family: Helvetica Neue, PingFang SC, Microsoft Yahei, Arial, Verdana, sans-serif;
	min-width: 1200px;
	margin: 0 auto
}

.body-padding {
	padding-top: 0
}

.outer {
	zoom: 1
}

.outer:after {
	clear: both;
	content: ".";
	display: block;
	width: 0;
	height: 0;
	visibility: hidden
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff
}

@keyframes animation-rotate {
	0% {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(1turn)
	}
}

@keyframes animation-rotate2 {
	0% {
		transform: rotate(1turn)
	}
	to {
		transform: rotate(0deg)
	}
}

@keyframes animation-scale {
	0% {
		transform-origin: center center;
		transform: scale(1);
		opacity: 0
	}
	50% {
		opacity: 1
	}
	to {
		transform-origin: center center;
		transform: scale(2);
		opacity: 0
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		transform: translateX(2000px)
	}
	to {
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes animation-point-1 {
	0% {
		top: -5px;
		left: 25px
	}
	12.5% {
		top: 33px;
		left: 25px
	}
	25% {
		top: 45px;
		left: 55px
	}
	37.5% {
		top: -5px;
		left: 25px
	}
	50% {
		top: 45px;
		left: -5px
	}
	62.5% {
		top: 45px;
		left: 55px
	}
	75% {
		top: 33px;
		left: 25px
	}
	87.5% {
		top: 45px;
		left: -5px
	}
	to {
		top: -5px;
		left: 25px
	}
}

@keyframes animation-point-2 {
	0% {
		top: -5px;
		left: 28px
	}
	16% {
		top: 5px;
		left: 43px
	}
	32% {
		top: 23px;
		left: 43px
	}
	48% {
		top: 30px;
		left: 28px
	}
	64% {
		top: 23px;
		left: 12px
	}
	80% {
		top: 6px;
		left: 12px
	}
	to {
		top: -5px;
		left: 28px
	}
}

@keyframes animation-point-3 {
	0% {
		top: 33px;
		left: 26px
	}
	16% {
		top: 24px;
		left: 12px
	}
	32% {
		top: 34px;
		left: -3px
	}
	48% {
		top: 50px;
		left: -3px
	}
	64% {
		top: 60px;
		left: 12px
	}
	80% {
		top: 51px;
		left: 26px
	}
	to {
		top: 33px;
		left: 26px
	}
}

@keyframes animation-point-4 {
	0% {
		top: 50px;
		left: 60px
	}
	16% {
		top: 60px;
		left: 45px
	}
	32% {
		top: 52px;
		left: 28px
	}
	48% {
		top: 33px;
		left: 28px
	}
	64% {
		top: 24px;
		left: 43px
	}
	80% {
		top: 35px;
		left: 60px
	}
	to {
		top: 50px;
		left: 60px
	}
}

@keyframes animation-point-5 {
	0% {
		top: 43px;
		left: -5px
	}
	16% {
		top: 50px;
		left: 11px
	}
	32% {
		top: 9px;
		left: 11px
	}
	48% {
		top: 4px;
		left: 26px
	}
	64% {
		top: -5px;
		left: 11px
	}
	80% {
		top: 2px;
		left: -2px
	}
	to {
		top: 43px;
		left: -5px
	}
}

@keyframes animation-point-6 {
	0% {
		top: 3px;
		left: 62px
	}
	16% {
		top: -3px;
		left: 48px
	}
	32% {
		top: 2px;
		left: 35px
	}
	48% {
		top: 8px;
		left: 48px
	}
	64% {
		top: 48px;
		left: 48px
	}
	80% {
		top: 43px;
		left: 63px
	}
	to {
		top: 3px;
		left: 62px
	}
}

@keyframes animation-point-7 {
	0% {
		top: 25px;
		left: 18px
	}
	20% {
		top: 48px;
		left: -5px
	}
	40% {
		top: 48px;
		left: 39px
	}
	60% {
		top: 2px;
		left: -3px
	}
	80% {
		top: 2px;
		left: 40px
	}
	to {
		top: 25px;
		left: 18px
	}
}

@keyframes animation-point-8 {
	0% {
		top: 48px;
		left: -5px
	}
	25% {
		top: 48px;
		left: 40px
	}
	50% {
		top: 3px;
		left: -3px
	}
	75% {
		top: 3px;
		left: 40px
	}
	to {
		top: 48px;
		left: -5px
	}
}

@keyframes animation-point-9 {
	0% {
		top: 48px;
		left: 38px
	}
	25% {
		top: 3px;
		left: -3px
	}
	50% {
		top: 3px;
		left: 40px
	}
	75% {
		top: 48px;
		left: -3px
	}
	to {
		top: 48px;
		left: 38px
	}
}

@keyframes animation-point-10 {
	0% {
		top: 45px;
		left: 55px
	}
	12.5% {
		top: -5px;
		left: 25px
	}
	25% {
		top: 45px;
		left: -5px
	}
	37.5% {
		top: 45px;
		left: 55px
	}
	50% {
		top: 33px;
		left: 25px
	}
	62.5% {
		top: 45px;
		left: -5px
	}
	75% {
		top: -5px;
		left: 25px
	}
	87.5% {
		top: 33px;
		left: 25px
	}
	to {
		top: 45px;
		left: 55px
	}
}

@keyframes animation-point-11 {
	0% {
		top: 45px;
		left: -5px
	}
	12.5% {
		top: 45px;
		left: 55px
	}
	25% {
		top: 33px;
		left: 25px
	}
	37.5% {
		top: 45px;
		left: -5px
	}
	50% {
		top: -5px;
		left: 25px
	}
	62.5% {
		top: 33px;
		left: 25px
	}
	75% {
		top: 45px;
		left: 55px
	}
	87.5% {
		top: -5px;
		left: 25px
	}
	to {
		top: 45px;
		left: -5px
	}
}

#container {
	padding: 30px;
	background: #f8f8f8
}

#container img {
	max-width: 100%
}

.icon-wechat {
	position: relative
}

.icon-wechat>.wechat-qrcode>h4 {
	display: none
}

.icon-wechat>.wechat-qrcode>.qrcode {
	position: absolute;
	left: 50px;
	top: 0;
	visibility: hidden;
	padding: 20px;
	background: #29a283
}

.icon-wechat>.wechat-qrcode>.help {
	display: none
}

.icon-wechat:before {
	content: "\E615"
}

.icon-wechat:hover>.wechat-qrcode>.qrcode {
	visibility: visible
}

jui-pager .jui-pager {
	margin: 25px 0;
	text-align: center
}

jui-pager .jui-pager .jpager-right {
	float: none!important
}

jui-pager .jui-pager .jpager-right .page-nos ul {
	border: 0!important;
	height: auto!important
}

jui-pager .jui-pager .jpager-right .page-nos ul li {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #e1e1e1!important;
	cursor: pointer;
	font-size: 14px;
	color: #3a3a3a;
	line-height: 32px;
	background-color: #fff;
	margin: 0 2px
}

jui-pager .jui-pager .jpager-right .page-nos ul li.active {
	background-color: #29a283!important;
	border-color: #29a283!important
}

jui-pager .jui-pager .jpager-right .page-nos ul li.active a {
	color: #fff!important
}

jui-pager .jui-pager .jpager-right .page-nos ul li a {
	display: inline-block!important;
	color: #3a3a3a!important
}

jui-pager .jui-pager .jpager-right .page-nos ul li:first-child a,
jui-pager .jui-pager .jpager-right .page-nos ul li:last-child a,
jui-pager .jui-pager .jpager-right .page-nos ul li:nth-child(2) a,
jui-pager .jui-pager .jpager-right .page-nos ul li:nth-last-child(2) a {
	font-size: 38px;
	font-weight: lighter
}

.pop-win-modal-page-profile .modal-content {
	padding-bottom: 0!important
}

.pop-win-modal-page-profile .modal-content .modal-body {
	padding: 30px!important
}

.pop-win-modal-page-profile .modal-content .hidden,
.pop-win-modal-page-profile .modal-content .modal-footer {
	display: none!important
}